* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

/* Header section */
header {
    max-width: 1600px;
}
.background {
    position: relative;
}
.background img {
    width: 100%;
}
.header-tittle {
    position: absolute;
    top: 216px;
    right: 230px;
    left: 845px;
    text-align: right;
}
.header-tittle h1 {
    text-align: right;
    font-size: 65px;
    color: white;
    margin-bottom: 24px;
    font-weight: 700;
}
.header-tittle p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    margin-bottom: 32px;
}
.contact-btn{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
}

/* Main first section */

main {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.top-sec {
    display: flex;
    justify-content: space-between;
}
.girl-image {
    margin-top: 130px;
    margin-left: 0;
}
.description {
    margin-top: 370px;
    padding-left: 80px;
}
.description h3 {
    font-size: 40px;
    font-weight: 700;
    padding-right: 100px;
    padding-bottom: 24px;
    text-align: left;
}
.description p {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-right: 30px;
}
.description ul {
    padding-left: 0;
}
.description ul li {
    list-style: none;
}
.material-symbols-outlined {
    color: #16D887;
}

/* Main second section */

.aims {
    margin-top: 130px;
    text-align: center;
}
.aims h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #151414;
}

.my-aims {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.aim-to-learn img, h3, p {
    margin-bottom: 24px;
}
.aim-to-learn h3{
    font-size: 30px;
    font-weight: 700;
    color: #151414;
}
.aim-to-learn p {
    color: #737272; 
    font-weight: 400;  
    font-size: 25px;
}
.container {
    background: url("../images/watch.png");
    color: white;
    position: relative;
    height: 300px;
    display: flex;
    background-size: 100%;
    margin-top: 130px;
    margin-bottom: 130px;
}
.container h2 {
    font-weight: 700;
    font-size: 40px;
    position: absolute;
    top: 59px;
    left: 64px;
    right: 616px;
}
.container h2, .container button {
    z-index: 1;
}
.color-overlay {
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    width: 100%;
    height: 100%;
    opacity: .7;
    position: absolute;
}
.call-now-btn {
    width: 160px;
    height: 64px;
    left: 64px;
    bottom: 60px;
    position: absolute;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border: none;
}